<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Agro Site</title>
    {% load static %}
    <link href="{% static 'styles3.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
  </head>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#f4f9f9">
  <a class="navbar-brand" href="/" style="font-family: 'Lobster', cursive;font-size:25px">Agro Site <img src="{% static 'img/leaf.svg' %}" style="height:40px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{%	url	'account:logout'	%}" style="color:black">logout</a>
      </li>
    </ul>
  </div>
  </nav>
  <body style="background-color: #faf3f3">
    <div style="margin:100px 30px;">
      <h2 style="font-family: 'Righteous', cursive;margin:30px 10px 10px 20px;font-weight:500;font-size:40px;">
        Current weather in {{ cname }}
      </h2>
      <h4>
        {{ current_desc }}<br>
        Temperature: {{ current_temp }}°C<br>
        Humidity: {{ current_humidity }}%<br>
        Precipitation (last hour): {{ current_precip }} mm
      </h4>
      <hr>
      <h2 style="font-family: 'Righteous', cursive;margin:30px 10px 10px 20px;font-weight:500;font-size:40px;">
        Next 24 hours forecast for {{ cname }}
      </h2>
      <table class="table">
        <thead>
          <tr>
            <th>Date/Time</th>
            <th>Temperature (°C)</th>
            <th>Precipitation (mm)</th>
            <th>Humidity (%)</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in forecast_data %}
          <tr>
            <td>{{ entry.datetime }}</td>
            <td>{{ entry.temp }}</td>
            <td>{{ entry.precip }}</td>
            <td>{{ entry.humidity }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
